.main-element {
  background-color: #F5F7FB;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: #293264;
  font-family: 'Karla', sans-serif;
  font-size: 3.125rem;
  margin-bottom: 7px;
}

.description {
  color: #293264;
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  margin-bottom: 29px;
}

.start-button {
  color: #F5F7FB;
  background-color: #4D5B9E;
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  padding: 15.5px 58.6px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

.start-button:hover {
  background-color: #3a468a;
}

.start-button:active {
  background-color: #213085;
}

.blob-container {
  position: absolute;
}

.blob-container.one {
  top: 0;
  right: 0;
}

.blob-container.two {
  bottom: 0;
  left: 0;
}