:root {
  --color-background: #F5F7FB;
  --color-text: #293264;
  --color-primary: #4D5B9E;
  --color-light: #F5F7FB;
  --font-main: 'Inter', sans-serif;
  --font-display: 'Karla', sans-serif;
}

body {
  font-family: var(--font-main);
  color: var(--color-text);
}

.main-element {
  background-color: var(--color-background);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.first-page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title {
  font-family: var(--font-display);
  font-size: 3.2rem;
  margin: 0;
  margin-bottom: 0.8rem;
}

.description {
  font-size: 1.6rem;
  margin: 0;
  margin-bottom: 3rem;
}

.start-button {
  color: var(--color-light);
  background-color: var(--color-primary);
  font-size: 1.6rem;
  border-radius: 1.5rem;
  padding: 1.6rem 4rem;
  border: none;
  cursor: pointer;
}

.start-button:hover, .start-button:active {
  opacity: 0.9;
}

.blob-container {
  position: absolute;
  z-index: 1;
}

.first-page-wrapper {
  z-index: 2;
}

.blob-container.one {
  top: 0;
  right: 0;
}

.blob-container.two {
  bottom: 0;
  left: 0;
}

.second-page-wrapper {
}

.second-page-wrapper .quiz-container {
}

.second-page-wrapper .quiz-container .question-fieldset {
}

.second-page-wrapper .quiz-container .question-fieldset .question {
}

.second-page-wrapper .quiz-container .question-fieldset .answers-container {
}

.second-page-wrapper .quiz-container .question-fieldset .answers-container .answer {
}

.second-page-wrapper .quiz-container .question-fieldset .answers-container .answer input {
}

.second-page-wrapper .quiz-container .question-fieldset .answers-container .answer label {
}

