:root {
  --color-background: #F5F7FB;
  --color-text: #293264;
  --color-primary: #4D5B9E;
  --color-secondary: #D6DBF5;
  --color-light: #F5F7FB;
  --color-grey: #DBDEF0;
  --font-main: 'Inter', sans-serif;
  --font-display: 'Karla', sans-serif;
}

body {
  font-family: var(--font-main);
  color: var(--color-text);
}

.main-element {
  background-color: var(--color-background);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.first-page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title {
  font-family: var(--font-display);
  font-size: 3.2rem;
  margin: 0;
  margin-bottom: 0.8rem;
}

.description {
  font-size: 1.6rem;
  margin: 0;
  margin-bottom: 3rem;
}

.main-button {
  color: var(--color-light);
  background-color: var(--color-primary);
  font-size: 1.6rem;
  border-radius: 1.5rem;
  padding: 1.6rem 4rem;
  border: none;
  cursor: pointer;
  align-self: center;
}

.main-button:hover,
.main-button:active {
  opacity: 0.9;
}

.blob-container {
  position: absolute;
  z-index: 1;
}

.first-page-wrapper {
  z-index: 2;
}

.blob-container.one {
  top: 0;
  right: 0;
}

.blob-container.two {
  bottom: 0;
  left: 0;
}

.second-page-wrapper {
  width: 100%;
}

.second-page-wrapper .quiz-container {
  width: 100%;
  margin: 0 auto;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

.quiz-container .question-fieldset {
  border-bottom: 2px solid var(--color-grey);
  padding-bottom: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.question-fieldset .question {
  font-family: var(--font-display);
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 1.2rem;
}

.question-fieldset .answers-container {
  display: flex;
  gap: 1.2rem;
  justify-content: flex-start;
  align-items: center;
}

.answer label {
  font-size: 1rem;
  padding: 0.4rem 1.9rem;
  border: 1px solid var(--color-primary);
  border-radius: 15px;
  cursor: pointer;
}

.answers-container .answer label:hover {
  background-color: var(--color-grey);
}

.answer input[type="radio"]:checked+label {
  background-color: var(--color-secondary);
  color: var(--color-text);
  border: 1px solid var(--color-secondary);
}

.score-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;
}

.score-container .score {
  font-family: var(--font-main);
  font-size: 1.28rem;
  font-weight: bold;
}

.second-page-wrapper .main-button {
  padding: 0.8rem 2.7rem;
}